# Filesystem files
.DS_Store

# IDE files
*.iml
/atlassian-ide-plugin.xml
/.idea

# Package manager directories
node_modules
bower_components
typings

# Local project stuff that's not for VCS
/local

# Build output
/build
